[Unit]
Description=PS3/4 controller service using AppoxEng interface to shared memory
[Service]
Type=exec
User=pi
WorkingDirectory=/home/pi/project/DangleTeam/danglePython
ExecStart=/usr/bin/python3 /home/pi/project/DangleTeam/danglePython/approxEngControllerProcess.py
Restart=always
RestartSec=10s
[Install]
WantedBy=multi-user.target

