[Unit]
Description=PS3/4 controller service using AppoxEng interface to shared memory
[Service]
Type=exec
User=neil
WorkingDirectory=/home/neil/projects/dangle/DangleTeam/services
ExecStart=/home/neil/projects/dangle/DangleTeam/services/approxeng.service.sh
Restart=always
RestartSec=10s
[Install]
WantedBy=multi-user.target

