[Unit]
Description=Dangle redboard controller shared memory service
After=mpu.service
[Service]
Type=exec
User=neil
WorkingDirectory=/home/neil/projects/dangle/DangleTeam/services
ExecStart=/home/neil/projects/dangle/DangleTeam/services/dangleredboard.service.sh
Restart=always
RestartSec=10s
[Install]
WantedBy=multi-user.target

