[Unit]
Description=MPU motion shared memory service
[Service]
Type=exec
User=pi
ExecStart=/home/pi/Projects/DangleTeam/common/mpu/mpu9250_shared
Restart=always
RestartSec=10s
[Install]
WantedBy=multi-user.target

