# This file contails the Python3 requirements for DanglyToo
# First install any python "apt" packages, then add the packages using this file, e.g.
#	
#	python3 -m venv ~/danglyToo
#	source ~/danglyToo/bin/activate
#   pip install -r requirements.txt

approxeng.input 
pigpio

# Very slow, use 'sudo apt install python3-opencv' instead
#opencv-python
numpy

simple-pid
pygame
psutil
smbus
smbus2
pySerial
json5

# For fonts etc.
Pillow

# Not used for dangly-too
pimoroni-ioexpander

# For eyes
rpi_ws281x
adafruit-circuitpython-neopixel
adafruit-blinka
Rpi.GPIO
# Don't used these, use the adafruit versions instead
#board
#neopixel
#pyaudio

#For test plots:
#matplotlib

# Arducam - See docs.arducam.com
# git clone https://github.com/ArduCAM/Arducam_tof_camera.git
# cd Arducam_tof_camera
# ./Install_dependencies_python.sh

ArducamDepthCamera

# pyimagesearch helpers
imutils
